html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
}

h1 {
  white-space: nowrap;
  overflow: hidden;
  font-size: 74px;
  margin: auto;
  text-overflow: ellipsis;
  width: 50vw;
}

div {
  height: 200px;
  background-color: coral;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 200px;
}
